DEFAULT_OPTIONS

LEVEL               THREAD
UNITS               NANOSEC
LOOK_BACK           100
SPEED               1
FLAG_ICONS          ENABLED
NUM_OF_STATE_COLORS 1000
YMAX_SCALE          37


DEFAULT_SEMANTIC

THREAD_FUNC          State As Is


STATES
0    Idle
1    Running
2    Not created
3    Waiting a message
4    Blocking Send
5    Synchronization
6    Test/Probe
7    Scheduling and Fork/Join
8    Wait/WaitAll
9    Blocked
10    Immediate Send
11    Immediate Receive
12    I/O
13    Group Communication
14    Tracing Disabled
15    Others
16    Send Receive
17    Memory transfer
18    Profiling
19    On-line analysis
20    Remote memory access
21    Atomic memory operation
22    Memory ordering operation
23    Distributed locking
24    Overhead
25    One-sided op
26    Startup latency
27    Waiting links
28    Data copy
29    RTT
30    Allocating memory
31    Freeing memory


STATES_COLOR
0    {117,195,255}
1    {0,0,255}
2    {255,255,255}
3    {255,0,0}
4    {255,0,174}
5    {179,0,0}
6    {0,255,0}
7    {255,255,0}
8    {235,0,0}
9    {0,162,0}
10    {255,0,255}
11    {100,100,177}
12    {172,174,41}
13    {255,144,26}
14    {2,255,177}
15    {192,224,0}
16    {66,66,66}
17    {255,0,96}
18    {169,169,169}
19    {169,0,0}
20    {0,109,255}
21    {200,61,68}
22    {200,66,0}
23    {0,41,0}
24    {139,121,177}
25    {116,116,116}
26    {200,50,89}
27    {255,171,98}
28    {0,68,189}
29    {52,43,0}
30    {255,46,0}
31    {100,216,32}


EVENT_TYPE
9   50000001    MPI Point-to-point
VALUES
4   MPI_Irecv
3   MPI_Isend
5   MPI_Wait
6   MPI_Waitall
0   Outside MPI


EVENT_TYPE
9   50000002    MPI Collective Comm
VALUES
10   MPI_Allreduce
8   MPI_Barrier
9   MPI_Reduce
0   Outside MPI


EVENT_TYPE
9   50000003    MPI Other
VALUES
19   MPI_Comm_rank
20   MPI_Comm_size
32   MPI_Finalize
31   MPI_Init
0   Outside MPI


EVENT_TYPE
1    50100001    Send Size in MPI Global OP
1    50100002    Recv Size in MPI Global OP
1    50100003    Root in MPI Global OP
1    50100004    Communicator in MPI Global OP


EVENT_TYPE
6    40000033    Executing CPU
6    40000133    CPU-Event sampling interval


EVENT_TYPE
6    40000001    Application
VALUES
0      End
1      Begin


EVENT_TYPE
6    40000050    RAW clock() value from system


EVENT_TYPE
6    40000003    Flushing Traces
VALUES
0      End
1      Begin


EVENT_TYPE
6    40000002    Trace initialization
VALUES
0      End
1      Begin


EVENT_TYPE
6    40000036    Process IDentifier
6    40000037    Parent Process IDentifier
6    40000038    fork() depth


EVENT_TYPE
7  42000050 PAPI_TOT_INS [Instr completed]
7  42000059 PAPI_TOT_CYC [Total cycles]
7  41999999 Active hardware counter set


GRADIENT_COLOR
0    {0,255,2}
1    {0,244,13}
2    {0,232,25}
3    {0,220,37}
4    {0,209,48}
5    {0,197,60}
6    {0,185,72}
7    {0,173,84}
8    {0,162,95}
9    {0,150,107}
10    {0,138,119}
11    {0,127,130}
12    {0,115,142}
13    {0,103,154}
14    {0,91,166}


GRADIENT_NAMES
0    Gradient 0
1    Grad. 1/MPI Events
2    Grad. 2/OMP Events
3    Grad. 3/OMP locks
4    Grad. 4/User func
5    Grad. 5/User Events
6    Grad. 6/General Events
7    Grad. 7/Hardware Counters
8    Gradient 8
9    Gradient 9
10    Gradient 10
11    Gradient 11
12    Gradient 12
13    Gradient 13
14    Gradient 14


EVENT_TYPE
0    70000001    Caller at level 1
0    70000002    Caller at level 2
0    70000003    Caller at level 3
VALUES
0   End
1 Unresolved
2 _NOT_Found
3 main
4 Domain::..ndexSets [Domain::CreateRegionIndexSets]
5 Domain::Domain
6 CommRecv
7 CommSend
8 CommSBN
9 CalcForceForNodes
10 LagrangeLeapFrog
11 LagrangeNodal
12 CommSyncPosVel
13 CalcQForElems
14 CommMonoQ
15 TimeIncrement


EVENT_TYPE
0    80000001    Caller line at level 1
0    80000002    Caller line at level 2
0    80000003    Caller line at level 3
VALUES
0   End
1 0 (Unresolved)
2 0 (_NOT_Found)
3 101 (lulesh-comm.cc, lulesh2.0_openmpi)
4 110 (lulesh-comm.cc, lulesh2.0_openmpi)
5 119 (lulesh-comm.cc, lulesh2.0_openmpi)
6 128 (lulesh-comm.cc, lulesh2.0_openmpi)
7 137 (lulesh-comm.cc, lulesh2.0_openmpi)
8 146 (lulesh-comm.cc, lulesh2.0_openmpi)
9 155 (lulesh-comm.cc, lulesh2.0_openmpi)
10 165 (lulesh-comm.cc, lulesh2.0_openmpi)
11 174 (lulesh-comm.cc, lulesh2.0_openmpi)
12 174 (lulesh-comm.cc, lulesh2.0_openmpi)
13 183 (lulesh-comm.cc, lulesh2.0_openmpi)
14 192 (lulesh-comm.cc, lulesh2.0_openmpi)
15 201 (lulesh-comm.cc, lulesh2.0_openmpi)
16 210 (lulesh-comm.cc, lulesh2.0_openmpi)
17 219 (lulesh-comm.cc, lulesh2.0_openmpi)
18 228 (lulesh-comm.cc, lulesh2.0_openmpi)
19 237 (lulesh-comm.cc, lulesh2.0_openmpi)
20 246 (lulesh-comm.cc, lulesh2.0_openmpi)
21 255 (lulesh-comm.cc, lulesh2.0_openmpi)
22 264 (lulesh-comm.cc, lulesh2.0_openmpi)
23 275 (lulesh-comm.cc, lulesh2.0_openmpi)
24 285 (lulesh-comm.cc, lulesh2.0_openmpi)
25 295 (lulesh-comm.cc, lulesh2.0_openmpi)
26 305 (lulesh-comm.cc, lulesh2.0_openmpi)
27 315 (lulesh-comm.cc, lulesh2.0_openmpi)
28 325 (lulesh-comm.cc, lulesh2.0_openmpi)
29 335 (lulesh-comm.cc, lulesh2.0_openmpi)
30 345 (lulesh-comm.cc, lulesh2.0_openmpi)
31 401 (lulesh-comm.cc, lulesh2.0_openmpi)
32 420 (lulesh-comm.cc, lulesh2.0_openmpi)
33 436 (lulesh-comm.cc, lulesh2.0_openmpi)
34 459 (lulesh-comm.cc, lulesh2.0_openmpi)
35 477 (lulesh-comm.cc, lulesh2.0_openmpi)
36 500 (lulesh-comm.cc, lulesh2.0_openmpi)
37 518 (lulesh-comm.cc, lulesh2.0_openmpi)
38 538 (lulesh-comm.cc, lulesh2.0_openmpi)
39 555 (lulesh-comm.cc, lulesh2.0_openmpi)
40 572 (lulesh-comm.cc, lulesh2.0_openmpi)
41 589 (lulesh-comm.cc, lulesh2.0_openmpi)
42 606 (lulesh-comm.cc, lulesh2.0_openmpi)
43 623 (lulesh-comm.cc, lulesh2.0_openmpi)
44 640 (lulesh-comm.cc, lulesh2.0_openmpi)
45 657 (lulesh-comm.cc, lulesh2.0_openmpi)
46 674 (lulesh-comm.cc, lulesh2.0_openmpi)
47 691 (lulesh-comm.cc, lulesh2.0_openmpi)
48 708 (lulesh-comm.cc, lulesh2.0_openmpi)
49 725 (lulesh-comm.cc, lulesh2.0_openmpi)
50 739 (lulesh-comm.cc, lulesh2.0_openmpi)
51 753 (lulesh-comm.cc, lulesh2.0_openmpi)
52 767 (lulesh-comm.cc, lulesh2.0_openmpi)
53 781 (lulesh-comm.cc, lulesh2.0_openmpi)
54 795 (lulesh-comm.cc, lulesh2.0_openmpi)
55 809 (lulesh-comm.cc, lulesh2.0_openmpi)
56 823 (lulesh-comm.cc, lulesh2.0_openmpi)
57 837 (lulesh-comm.cc, lulesh2.0_openmpi)
58 843 (lulesh-comm.cc, lulesh2.0_openmpi)
59 889 (lulesh-comm.cc, lulesh2.0_openmpi)
60 889 (lulesh-comm.cc, lulesh2.0_openmpi)
61 889 (lulesh-comm.cc, lulesh2.0_openmpi)
62 898 (lulesh-comm.cc, lulesh2.0_openmpi)
63 898 (lulesh-comm.cc, lulesh2.0_openmpi)
64 911 (lulesh-comm.cc, lulesh2.0_openmpi)
65 911 (lulesh-comm.cc, lulesh2.0_openmpi)
66 930 (lulesh-comm.cc, lulesh2.0_openmpi)
67 945 (lulesh-comm.cc, lulesh2.0_openmpi)
68 965 (lulesh-comm.cc, lulesh2.0_openmpi)
69 980 (lulesh-comm.cc, lulesh2.0_openmpi)
70 997 (lulesh-comm.cc, lulesh2.0_openmpi)
71 1011 (lulesh-comm.cc, lulesh2.0_openmpi)
72 1011 (lulesh-comm.cc, lulesh2.0_openmpi)
73 1025 (lulesh-comm.cc, lulesh2.0_openmpi)
74 1039 (lulesh-comm.cc, lulesh2.0_openmpi)
75 1053 (lulesh-comm.cc, lulesh2.0_openmpi)
76 1067 (lulesh-comm.cc, lulesh2.0_openmpi)
77 1081 (lulesh-comm.cc, lulesh2.0_openmpi)
78 1095 (lulesh-comm.cc, lulesh2.0_openmpi)
79 1109 (lulesh-comm.cc, lulesh2.0_openmpi)
80 1123 (lulesh-comm.cc, lulesh2.0_openmpi)
81 1137 (lulesh-comm.cc, lulesh2.0_openmpi)
82 1151 (lulesh-comm.cc, lulesh2.0_openmpi)
83 1167 (lulesh-comm.cc, lulesh2.0_openmpi)
84 1179 (lulesh-comm.cc, lulesh2.0_openmpi)
85 1191 (lulesh-comm.cc, lulesh2.0_openmpi)
86 1203 (lulesh-comm.cc, lulesh2.0_openmpi)
87 1215 (lulesh-comm.cc, lulesh2.0_openmpi)
88 1227 (lulesh-comm.cc, lulesh2.0_openmpi)
89 1239 (lulesh-comm.cc, lulesh2.0_openmpi)
90 1251 (lulesh-comm.cc, lulesh2.0_openmpi)
91 1310 (lulesh-comm.cc, lulesh2.0_openmpi)
92 1310 (lulesh-comm.cc, lulesh2.0_openmpi)
93 1332 (lulesh-comm.cc, lulesh2.0_openmpi)
94 1366 (lulesh-comm.cc, lulesh2.0_openmpi)
95 1402 (lulesh-comm.cc, lulesh2.0_openmpi)
96 1461 (lulesh-comm.cc, lulesh2.0_openmpi)
97 1475 (lulesh-comm.cc, lulesh2.0_openmpi)
98 1489 (lulesh-comm.cc, lulesh2.0_openmpi)
99 1503 (lulesh-comm.cc, lulesh2.0_openmpi)
100 1517 (lulesh-comm.cc, lulesh2.0_openmpi)
101 1531 (lulesh-comm.cc, lulesh2.0_openmpi)
102 1602 (lulesh-comm.cc, lulesh2.0_openmpi)
103 1626 (lulesh-comm.cc, lulesh2.0_openmpi)
104 1650 (lulesh-comm.cc, lulesh2.0_openmpi)
105 1674 (lulesh-comm.cc, lulesh2.0_openmpi)
106 1734 (lulesh-comm.cc, lulesh2.0_openmpi)
107 1734 (lulesh-comm.cc, lulesh2.0_openmpi)
108 1734 (lulesh-comm.cc, lulesh2.0_openmpi)
109 1743 (lulesh-comm.cc, lulesh2.0_openmpi)
110 1757 (lulesh-comm.cc, lulesh2.0_openmpi)
111 1777 (lulesh-comm.cc, lulesh2.0_openmpi)
112 1791 (lulesh-comm.cc, lulesh2.0_openmpi)
113 1810 (lulesh-comm.cc, lulesh2.0_openmpi)
114 1824 (lulesh-comm.cc, lulesh2.0_openmpi)
115 127 (lulesh-init.cc, lulesh2.0_openmpi)
116 405 (lulesh-init.cc, lulesh2.0_openmpi)
117 186 (lulesh.cc, lulesh2.0_openmpi)
118 1109 (lulesh.cc, lulesh2.0_openmpi)
119 1130 (lulesh.cc, lulesh2.0_openmpi)
120 1133 (lulesh.cc, lulesh2.0_openmpi)
121 1239 (lulesh.cc, lulesh2.0_openmpi)
122 1261 (lulesh.cc, lulesh2.0_openmpi)
123 1264 (lulesh.cc, lulesh2.0_openmpi)
124 1963 (lulesh.cc, lulesh2.0_openmpi)
125 1981 (lulesh.cc, lulesh2.0_openmpi)
126 1985 (lulesh.cc, lulesh2.0_openmpi)
127 2609 (lulesh.cc, lulesh2.0_openmpi)
128 2674 (lulesh.cc, lulesh2.0_openmpi)
129 2675 (lulesh.cc, lulesh2.0_openmpi)
130 2716 (lulesh.cc, lulesh2.0_openmpi)
131 2723 (lulesh.cc, lulesh2.0_openmpi)
132 2726 (lulesh.cc, lulesh2.0_openmpi)
133 2729 (lulesh.cc, lulesh2.0_openmpi)
134 2732 (lulesh.cc, lulesh2.0_openmpi)
135 2770 (lulesh.cc, lulesh2.0_openmpi)
136 2788 (lulesh.cc, lulesh2.0_openmpi)


EVENT_TYPE
0 41000000 Object addresses for task 1.1
VALUES
1 _ZStL8__ioinit [0x0061b7e1-0x0061b7e1]
2 _ZStL8__ioinit [0x0061b7e2-0x0061b7e2]
3 completed.7873 [0x0061b7e0-0x0061b7e0]
4 __FRAME_END__ [0x00418e9c-0x00418e9b]
5 __GNU_EH_FRAME_HDR [0x00418300-0x004182ff]
6 ompi_mpi_double [0x0061a1a0-0x0061a39f]
7 __bss_start [0x0061a190-0x0061a18f]
8 _end [0x0061b7e8-0x0061b7e7]
9 _ZSt4cout@@GLIBCXX_3.4 [0x0061a3a0-0x0061a4af]
10 stderr@@GLIBC_2.2.5 [0x0061a4c0-0x0061a4c7]
11 ompi_mpi_op_max [0x0061a4e0-0x0061acdf]
12 ompi_mpi_op_min [0x0061ace0-0x0061b4df]
13 ompi_mpi_comm_world [0x0061b4e0-0x0061b6df]
14 ompi_request_null [0x0061b6e0-0x0061b7df]
15 _IO_stdin_used [0x004175a0-0x004175a3]

EVENT_TYPE
9    40000018    Tracing mode:
VALUES
1      Detailed
2      CPU Bursts


